<html>
	<head>
		<title><%= title %></title>
		<link rel='stylesheet' href='/stylesheets/style.css' />
		<link rel="icon" href="favicon.ico" type="image/x-icon"/>
	</head>

<body id="body">
	
	Autor de esta pagina: Veselin Petev Vasilev <br>
	Direccion de correo electronico: v.petev@alumnos.upm.es	
	
	<div id="foto">
		<h1><strong>Mi foto</strong></h1>
		<img src='http://vese321.neocities.org/Practica%201/IMG_20160201_143203.jpg' width='400' height='492' alt='Veselin'>
	</div>
	<br>
</body>

</html>
