<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='icon' href='favicon.ico' type='image/x-icon' />
  </head>

  <body>

	<nav>
		<a href="/">Inicio</a>
		<a href="/quizzes">Preguntas</a>
	</nav>


	<section>
            <% if (messages.info) { %>
               <article id='flashinfo'>
                 <h3>Información de interés:</h3>
                 <ul>
                    <% for (var i in messages.info) { %>
                      <li> <%= messages.info[i] %> </li>
                    <% } %>
                 </ul>
               </article>
            <% } %>

            <% if (messages.success) { %>
               <article id='flashsuccess'>
                 <h3>Tareas completadas con éxito:</h3>
                 <ul>
                    <% for (var i in messages.success) { %>
                       <li> <%= messages.success[i] %> </li>
                    <% } %>
                 </ul>
               </article>
            <% } %>

            <% if (messages.error) { %>
               <article id='flasherror'>
                 <h3>Errores encontrados:</h3>
                 <ul>
                    <% for (var i in messages.error) { %>
                      <li> <%= messages.error[i] %> </li>
                    <% } %>
                 </ul>
               </article>
            <% } %>
       </section>

	<section>
		<div><%- body%>
		</div>
	</section>

	
	<footer>
		<a href="http://www.wikipedia.org/wiki/Quiz"> Que es un Quiz?</a>
	</footer>

  </body>	
</html>
